@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

main {
  margin: 24px;
}
figure {
  max-width: 300px;
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

figure img {
  width: 100% ;
  border-radius: 10px;
 
}

figure h1 {
  font-size: 22px;
  padding: 20px 0;
  text-align: center;
  color:  hsl(218, 44%, 22%);

}
figure p {
  font-size: 15px;
  padding-bottom: 20px;
  text-align: center;
  color: hsl(220, 15%, 55%);
  line-height: 22px;
}

